<?php include 'mailheader.php' ?>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="font-size:16px;font-family: 'Roboto', sans-serif;color:rgb(51,51,51);text-align:left;line-height:30px; padding-top:20px;">Dear <?php echo $arrayData['user_name']; ?>, </td>
        </tr>
        <tr>
            <td style="font-size:20px;font-family: 'Roboto', sans-serif;color:#00a550; font-weight:700; font-style:italic; text-align:left;line-height:30px; padding-bottom:10px">Continue your health streak!</td>
        </tr>
        <tr>
            <td style="font-size:16px;font-family: 'Roboto', sans-serif;color:rgb(51,51,51);text-align:left;line-height:22px; padding-bottom:20px;">Your FITCOACH membership will expire in 6 days.</td>
        </tr>
        <tr>
            <td align="center" style="padding-top:10px; padding-bottom:10px;"><div style="width:200px; border-radius:8px; background:#d9e3e8; padding:10px; font-size:30px;font-family: 'Roboto', sans-serif;color:#ef4a4e; font-weight:700; vertical-align:middle;"><span style="vertical-align:middle; padding-right:10px;"><img src="https://fitpass-images.s3.amazonaws.com/gallery_image_calender_ic_DD31.png" width="36" height="40"></span> <?php echo date('d-M', strtotime($arrayData['coach_end_of_cycle'])) ?></div></td>
        </tr>
        <tr>
            <td align="center" style="padding-top:5px; padding-bottom:20px;">
                <a href="http://fitpass.co.in/fitcoach/plandetails?userkey=<?php echo guid(); ?>&userMemId=<?php echo $arrayData['membership_id'] ?>&userId=<?php echo $arrayData['user_id'] ?>" target="new" style="text-decoration:none; color:#FFF;">
                    <div style="width:160px; border-radius:8px; background:#00a54e; padding:10px; font-size:20px;font-family: 'Roboto', sans-serif;color:#ffffff; letter-spacing:1px; font-weight:700;"> RENEW NOW</div>
                </a></td>
        </tr>

        <tr>
            <td style="font-size:16px;font-family: 'Roboto', sans-serif;color:rgb(51,51,51);text-align:left;line-height:25px; padding-bottom:10px;">Renew your membership now and continue working out in the comfort of your home.</td>
        </tr>

    </tbody>
</table>


<?php include 'mailfooter.php' ?>